* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
	  font-family: 'Brandon Grotesque';
}

@font-face {
    font-family: 'Brandon BrandonGrotesque-Black';
    src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('../fonts/Calibri-Bold.woff2') format('woff2'),
        url('../fonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri-Light';
    src: url('../fonts/Calibri-Light.woff2') format('woff2'),
        url('../fonts/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.main_section {

	width: 100%;
	height: 100vh;
	/*background-color: #FF5C5C;*/
	background-image: url("../imgs/main_bg.png");
	background-position: bottom;
    background-size: cover;
}

.main_container {
	/*display: flex;
	align-items: flex-start;
	max-width: 1300px;
	margin: 0 auto;*/
	    padding: 0 8%;
}

.header_logo {

display: inline-block;

}

.header_logo a{

	display: flex;
	background-color: #CE0058;
	padding: 0 10px;
}

.header_logo a img {
	width: 206px;
    height: 79px;
}

.main_text p {

	font-family: 'Brandon Grotesque';
	font-size: 77px;
	color: #fff;
	    line-height: 90px;

}

.main_text {
	margin-top: 10%;
	margin-bottom: 5%;
}
.main_text h1 {
 font-family: 'Brandon BrandonGrotesque-Black';
	font-size: 77px;
	    line-height: 90px;
	color: #fff;
}

.main_text .medium_title{
	    max-width: 640px;
	    margin-bottom: 10px;

}

.main_text .bold_title {
	    max-width: 680px;
}

.main_container_left_content {
	flex:0 0 45%;
	max-width: 45%;
}

.main_container_right_content {
	flex: 0 0 55%;
	max-width: 55%;
}

.main_container_right_content img {
	width: 100%;

}

.button {
	display: inline-block;
}

.button a {

	display: flex;
	background: #CE0058;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	font-size: 37px;
	font-family: 'Brandon BrandonGrotesque-Black';
	color: #fff;
	padding: 20px 37px;
}

.button a span {
	    font-family: 'Brandon BrandonGrotesque-Black';
}

.button a img {
	margin-left: 15px;
	transition: all .4s;
}

.button:hover img {
	transform: translateX(3px);
}

.icons_wrapper {

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 5%;
}

.icons_wrapper img {
	margin-right: 10px;
	margin-bottom: 5px;
}



.body_content {

	    padding: 0 8%;
}

.body_content_title {

	text-align: center;
	margin-top: 50px;
}

.body_content_title h2 {

	color: #CE0058;
	font-family: 'Brandon BrandonGrotesque-Black';
	font-size: 77px;
}

.body_text {

	max-width: 1300px;
	margin: 30px auto;
	text-align: center;

}

.body_text p {
	color: #000;
	font-family: 'Calibri';
	font-size: 27px;

}

.body_text p span{
	 font-family: 'Calibri-Bold';
}
.body_boxes {

margin-top: 45px;
display: flex;
justify-content: space-between;

}

.body_box {
	text-align: center;
}

.body_box h3 {
	color: #000;
	font-family: 'Brandon BrandonGrotesque-Black';
	font-size: 37px;
}

.body_box.blue  h3{
	color: #5BADFF;
}

.body_box.yellow h3{
	color: #CDE549;
}

.body_box.pink h3{
	color: #D042DC;
}


.body_box p {
 font-family: 'Brandon BrandonGrotesque-Black';
 font-size: 31px;
 color: #000;
     line-height: 26px;
}

.body_button {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}


.body_third_section {
	display: flex;
	align-items: flex-start;
	margin: 90px 0 50px;
	padding: 0 8%;
}

.th_left_content {
	max-width: 50%;
	flex:0 0 50%;
}
.th_right_content {
	flex-grow: 1;
	text-align: center;
}


.th_right_content img {
	width: 80%;
	height: 80%;
}

.th_title h4{
	color: #5BADFF;
	font-size: 77px;
	 font-family: 'Brandon BrandonGrotesque-Black';
	     line-height: 72px;
}

.th_text p,.th_text h5{
	font-size: 29px;
	color: #000;
	 font-family: 'Calibri';
	 margin-bottom: 20px;
}

.th_text h5 {
		 font-family: 'Calibri-Bold';
}

.th_text {
	margin: 30px 0;
	    padding-right: 20%;
}

@media screen and (max-width: 1750px) {

	.th_title h4 {
    color: #5BADFF;
    font-size: 65px;
    font-family: 'Brandon BrandonGrotesque-Black';
    line-height: 72px;
}

	.main_text .medium_title {
    max-width: 485px;
    margin-bottom: 10px;
}

.main_text p {
    font-family: 'Brandon Grotesque';
    font-size: 60px;
    color: #fff;
    line-height: 65px;
}

.main_text h1 {
    font-family: 'Brandon BrandonGrotesque-Black';
    font-size: 60px;
    line-height: 65px;
    color: #fff;
}


.main_text {
	margin-top: 6%;
}

.button a {

    font-size: 30px;
    padding: 15px 32px;
}

}



@media screen and (max-width: 1400px) {

.th_title h4 {
    color: #5BADFF;
    font-size: 45px;
    font-family: 'Brandon BrandonGrotesque-Black';
    line-height: 51px;
}

.th_text {
	padding-right: 0;
}

	.main_text .medium_title {
    max-width: 357px;
    margin-bottom: 15px;
}

.main_text p {
    font-family: 'Brandon Grotesque';
    font-size: 45px;
    color: #fff;
    line-height: 45px;
}

.main_text h1 {
    font-family: 'Brandon BrandonGrotesque-Black';
    font-size: 45px;
    line-height: 50px;
    color: #fff;
}

}


@media screen and (max-width: 992px) {
.body_third_section{
	flex-direction: column-reverse;
}
.th_right_content img {
    width: 90%;
    height: 90%;
}
.th_right_content{
	width: 100%;
}

	.body_box p {
    font-size: 22px;
    line-height: 24px;
}
.body_button {
 
    margin-top: 15px;
}

.th_title h4 {
    color: #5BADFF;
    font-size: 27px;
    font-family: 'Brandon BrandonGrotesque-Black';
    line-height: 30px;
    text-align: center;
}

.body_third_section {
	margin-top: 40px;
}

.th_left_content{
	width: 100%;
	flex:0 0 100%;
	max-width: 100%;
	margin: 30px 0;
}
.th_text p, .th_text h5 {
	font-size: 23px;
	margin-bottom: 10px;
}
.body_box h3 {
    font-size: 27px;
}
.body_box {
    text-align: center;
    margin-bottom: 20px;
}

	.body_text p {
    color: #000;
    font-family: 'Calibri';
    font-size: 25px;
}

	.body_content_title {
    text-align: center;
    margin-top: 35px;
}
.body_text {
    max-width: 1300px;
    margin: 20px auto 0;
    text-align: center;
}
	.body_content_title h2 {
  
    font-size: 34px;
    line-height: 38px;
}

	.body_boxes {
		flex-direction: column;
	}

.main_section{
	height: auto;
	
}
.main_container {
	padding: 0 15px;
}	

.main_text {
	width: 60%;
}

.header_logo a img {
    width: 130px;
    height: 45px;
}
.main_container_left_content {
    flex: 0 0 100%;
    max-width: 100%;
}

.main_text p,.main_text h1{
   
    font-size: 26px;
    line-height: 30px;
}


.button a {
    font-size: 17px;
    padding: 8px 15px;
}

.button a img {
    margin-left: 9px;
    width: 7px;
}

.icons_wrapper img {
	width: 27px;
}

.main_section {
	  background-image: url("../imgs/mobile_slot.svg"), url(../imgs/mobile_bg2.svg),url(../imgs/mobille_bg1.svg);
    background-position: 310% 12%,bottom, center;
    background-size: 87%,125%, cover;
    background-repeat: no-repeat;
    padding-bottom: 33%;
}

}