* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
	  font-family: 'Brandon Grotesque';
}

@font-face {
    font-family: 'Brandon BrandonGrotesque-Black';
    src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('../fonts/Calibri-Bold.woff2') format('woff2'),
        url('../fonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri-Light';
    src: url('../fonts/Calibri-Light.woff2') format('woff2'),
        url('../fonts/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.main_section {

	width: 100%;
	height: 100vh;
	background-color: #FF5C5C;
}

.main_container {
	display: flex;
	align-items: flex-start;
}

.header_logo {



}

.header_logo a{

	display: block;
	background-color: #CE0058;
	padding: 0 10px;
}

.header_logo a img {
	width: 206px;
    height: 79px;
}